/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* thin scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* no track background */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 162, 205, 0.8); /* nice blue color */
  border-radius: 12px;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 162, 205, 0.8) transparent;
}
